:root {
  --main: #beffff;
  --main-darker: rgb(142 255 255);
  --default: #f4f4f4;
  --default-darker: #ddd;
  --range-background: var(--default);
  --range-thumb: rgb(0 0 0 / 0.25);
  --range-runnable-track: var(--default-darker);
}

html {
  height: 100%;
}

body {
  height: inherit;
  margin: 0;
  font: 1rem/1.5 system-ui, sans-serif;
}

#__next {
  height: inherit;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--main);
}

header > div,
footer > div,
main > div {
  /* max-width: 800; */
  margin-right: auto;
  margin-left: auto;
  padding: 1rem 3rem;
}

header > div > h1 {
  margin-left: -5rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 2.25rem;
}

/* @media (max-width: 1000px) { */
header > div > h1 {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
}
/* } */

header > div > h1 > img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  display: block;
}

/* @media (max-width: 1000px) { */
header > div > h1 > img {
  margin-left: -1rem;
  margin-bottom: 1.5rem;
}
/* } */

header > div > img {
  max-width: 136px;
  display: block;
  filter: brightness(2);
}

a {
  color: inherit;
}

button {
  border: 1px solid;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  position: relative;
  cursor: pointer;
  font-size: inherit;
  background-color: var(--main);
  appearance: none;
  -webkit-appearance: none;
}

button:hover,
button:focus {
  background-color: var(--main-darker);
}

.connect::before {
  content: '➪';
  position: absolute;
  top: -0.25rem;
  left: -2.25rem;
  font-size: 2rem;
}

main {
  flex: 1;
}

.sequence {
  font-size: 1.5rem;
}

.highlight {
  background: var(--main);
}

ul {
  padding-left: 0;
  list-style: none;
  column-count: 3;
}

@media (max-width: 1000px) {
  ul {
    column-count: 2;
  }
}

li,
td {
  transition: background-color 200ms;
}

b {
  display: inline-block;
  /* min-width: 1rem; */
}

table {
  width: 100%;
  border-spacing: 1px;
}

th,
td {
  height: 32px;
  padding: 0;
  white-space: nowrap;
}

th {
  text-align: left;
}

td:first-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

td:nth-of-type(4n + 5) {
  box-shadow: 1px 0 var(--default-darker);
}

td:last-of-type {
  box-shadow: none;
}

td:nth-of-type(2) {
  text-align: right;
}

tr:nth-last-of-type(2n + 1) > td {
  background-color: var(--default);
}

input[type='range'] {
  height: 32px;
  display: block;

  -webkit-appearance: none;
  width: 100%;
  margin: 0;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 32px;
  cursor: pointer;
  background: var(--range-background);
  border-radius: 0;
  border: none;
}

input[type='range']::-webkit-slider-thumb {
  height: 32px;
  width: 32px;
  border-radius: 0;
  background: var(--range-thumb);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: var(--range-runnable-track);
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 32px;
  cursor: pointer;
  background: var(--range-background);
  border-radius: 0;
  border: none;
}

input[type='range']::-moz-range-thumb {
  height: 32px;
  width: 32px;
  border-radius: 0;
  background: var(--range-thumb);
  cursor: pointer;
}

input[type='range']::-ms-track {
  width: 100%;
  height: 32px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type='range']::-ms-fill-lower {
  background: #cc0000;
  border: none;
  border-radius: 0;
}

input[type='range']::-ms-fill-upper {
  background: var(--range-background);
  border: none;
  border-radius: 0;
}

input[type='range']::-ms-thumb {
  width: 32px;
  border-radius: 0;
  background: var(--range-thumb);
  cursor: pointer;
  height: 32px;
}

input[type='range']:focus::-ms-fill-lower {
  background: var(--range-background);
}

input[type='range']:focus::-ms-fill-upper {
  background: var(--range-runnable-track);
}

footer {
  background-color: var(--main);
}

.player {
  margin-top: 2rem;
  position: relative;
}

.player > div:first-of-type {
  max-width: 366px;
  display: flex;
  padding-bottom: 0.5rem;
}

.player > div:first-of-type > button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player > div:first-of-type > button:first-of-type {
  /* width: 122px; */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.player > div:first-of-type > button:last-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.player > div:first-of-type > button:not(:first-of-type) {
}

.player > div:first-of-type > button:not(:first-of-type):not(:last-of-type) {
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.player > div:last-of-type {
  margin-left: 120px;
  overflow-x: scroll;
  overflow-y: visible;
}

.frozen-column {
  left: 0;
  position: absolute;
  top: auto;
  width: 121px;
  padding-right: 2px;
  padding-left: 2px;
  box-sizing: border-box;
}

.selection {
  text-align: center;
}

.selection.highlight > * {
  background: var(--default-darker);
}

input[type='checkbox'] {
  width: 32px;
  height: 32px;
  margin: 0;
  display: block;
  cursor: pointer;
  background-color: var(--default);
  appearance: none;
  -webkit-appearance: none;
}

:focus {
  outline-width: 3px;
  outline-style: solid;
  outline-color: #000;
}

input[type='checkbox']:hover,
input[type='checkbox']:focus {
  background-color: var(--default-darker);
  outline-offset: -3px;
}

input[type='checkbox']:checked {
  background-color: cyan;
}

footer > div > p:first-of-type {
  text-indent: -0.5rem;
}
