:root {
  --main: cyan;
}

html {
  height: 100%;
}

body {
  height: inherit;
  margin: 0;
  font: 1rem/1.5 system-ui, sans-serif;
}

#__next {
  height: inherit;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--main);
}

header > div,
footer > div,
main > div {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem 3rem;
}

header > div > h1 {
  margin-left: -5rem;
  display: flex;
  align-items: center;
  font-size: 2.25rem;
}

@media (max-width: 1000px) {
  header > div > h1 {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }
}

header > div > h1 > img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  display: block;
}

@media (max-width: 1000px) {
  header > div > h1 > img {
    margin-left: -1rem;
    margin-bottom: 1.5rem;
  }
}

header > div > img {
  max-width: 136px;
  display: block;
  filter: brightness(2);
}

a {
  color: inherit;
}

button {
  border: 1px solid;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  position: relative;
  cursor: pointer;
  font-size: inherit;
  background-color: cyan;
  appearance: none;
  -webkit-appearance: none;
}

button:hover,
button:focus {
  background-color: rgb(142, 255, 255);
}

.connect::before {
  content: '➪';
  position: absolute;
  top: -0.25rem;
  left: -2.25rem;
  font-size: 2rem;
}

main {
  flex: 1;
}

.sequence {
  font-size: 1.5rem;
}

.highlight {
  background: gold !important;
}

ul {
  padding-left: 0;
  list-style: none;
  column-count: 3;
}

@media (max-width: 1000px) {
  ul {
    column-count: 2;
  }
}

li,
td {
  transition: background-color 200ms;
}

b {
  display: inline-block;
  /* min-width: 1rem; */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0;
  white-space: nowrap;
}

th {
  text-align: left;
}

td:nth-of-type(4n + 6) {
  border-right: 1px solid;
}

td:last-of-type {
  border-right: none;
}

td:nth-of-type(2) {
  text-align: right;
}

tr:nth-last-of-type(2n + 1) > td {
  background-color: #eee;
}

input[type='range'] {
  width: 100%;
  margin: 0;
}

footer {
  background-color: var(--main);
}

.player {
  margin-top: 2rem;
  overflow-x: auto;
}

.player div {
  display: flex;
  justify-content: space-between;
}

.selection {
  text-align: center;
}
