:root {
  --main: cyan;
}

html {
  height: 100%;
}

body {
  height: inherit;
  margin: 0;
  font: 1rem/1.5 system-ui, sans-serif;
}

#__next {
  height: inherit;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--main);
}

header > div {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem 3rem;
}

header > div > h1 {
  margin-left: -5rem;
  display: flex;
  align-items: center;
  font-size: 2.25rem;
}

@media (max-width: 500px) {
  header > div > h1 {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }
}

header > div > h1 > img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  display: block;
}

@media (max-width: 500px) {
  header > div > h1 > img {
    margin-left: -1rem;
    margin-bottom: 1.5rem;
  }
}

header > div > img {
  max-height: 100px;
  display: block;
}

a {
  color: inherit;
}

button {
  border: 1px solid;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  position: relative;
  cursor: pointer;
  font-size: inherit;
  background-color: cyan;
  appearance: none;
  -webkit-appearance: none;
}

button:hover,
button:focus {
  background-color: rgb(142, 255, 255);
}

button::before {
  content: '➪';
  position: absolute;
  top: -0.25rem;
  left: -2.25rem;
  font-size: 2rem;
}

main {
  flex: 1;
}

main > div {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem 3rem;
}

.sequence {
  font-size: 1.5rem;
}

.highlight {
  background: gold;
}

ul {
  padding-left: 0;
  list-style: none;
  column-count: 3;
}

@media (max-width: 500px) {
  ul {
    column-count: 2;
  }
}

li {
  transition: background-color 200ms;
}

b {
  display: inline-block;
  min-width: 1rem;
}

footer {
  background-color: var(--main);
}

footer > div {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem 3rem;
}
