body {
  margin: 0;
  font: 1rem/1.5 system-ui, sans-serif;
}

header {
  padding: 1rem;
  background-color: cyan;
}

main {
  padding: 1rem;
}

/* .connect {} */

.sequence {
  font-size: 2rem;
}

.highlight {
  background: gold;
}

li {
  transition: background-color 200ms;
}

footer {
  padding: 1rem;
  background-color: cyan;
}

a {
  color: inherit;
}
